/* .body-container {
  width: 100%;
}
.nav-link {
    font-size: large;
  }

  .header-container {
    background-color: #333333;
    max-height: 150px;
    width: 100%;
  }

  ul > li > a {
    background-color: #333333;
    color: #9DA4A7;
  }

  nav > ul > li {
    float: right;
  }

  .nav-link.active {
    color: #007bff !important;
  }
  
  .navbar-brand {
    color: white !important;
    font-size: 38px;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 12px;
  }

  .nav-pills {
    padding-inline-start: 423px;
  }



  footer {
    bottom: 0;
    width:100%;
  }

  .pill-links {
    justify-content: flex-end;
  } */

  .nav-writenow {
    background-color: #333333;
    height: 100px;
    align-items: center;
  }

  .nav-writenow .title_text {
    font-size: 38px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    text-align: left;
    padding: 0;
  }

  .logo {
    height: 85px;
    width: 85px;
  }

  .nav-writenow .pill_container {
    display: flex;
    justify-content: flex-end;
  }

  .nav-writenow .pill_links {
    display: flex;
    list-style: none;
    margin: auto 0 auto 0;
  }

  ul > li > a {
    color: #9DA4A7;
    font-size: 18px;
  }

  .nav-link.active {
    color: #007bff !important;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333333;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .footer .container {
    display: flex;
    justify-content: center;
  }

  .footer .container a {
    text-decoration: none;
    font-size: 18px;
  }

  .test-link {
    color:white;
  }

  .vid-test {
    width: 15%;
    background-color: #007bff ;
    border-radius: 12px;
  }