.container-fluid {
    padding: 0;
}

.cta-img {
    width: 100%;
}

.blog-news {
    color: #2AAAE2;
    padding-left: 9%;
}

.masonry-demo {
    text-align: center;
    width: 85%;
    margin: auto;
}

.masonry-item {
    width: 33%;
    margin-bottom: 30px;
}

.masonry-item > img {
    width: 90%;
}